:root {
    --header-1-font-family: "Raleway", Helvetica;
    --header-1-font-weight: 400;
    --header-1-font-size: 60px;
    --header-1-letter-spacing: 0px;
    --header-1-line-height: 120.00000476837158%;
    --header-1-font-style: normal;
    --header-2-font-family: "Raleway", Helvetica;
    --header-2-font-weight: 400;
    --header-2-font-size: 50px;
    --header-2-letter-spacing: 0px;
    --header-2-line-height: 120.00000476837158%;
    --header-2-font-style: normal;
    --header-3-font-family: "Raleway", Helvetica;
    --header-3-font-weight: 400;
    --header-3-font-size: 41px;
    --header-3-letter-spacing: 0px;
    --header-3-line-height: 120.00000476837158%;
    --header-3-font-style: normal;
    --header-4-font-family: "Raleway", Helvetica;
    --header-4-font-weight: 400;
    --header-4-font-size: 35px;
    --header-4-letter-spacing: 0px;
    --header-4-line-height: 120.00000476837158%;
    --header-4-font-style: normal;
    --header-5-font-family: "Raleway", Helvetica;
    --header-5-font-weight: 400;
    --header-5-font-size: 29px;
    --header-5-letter-spacing: 0px;
    --header-5-line-height: 120.00000476837158%;
    --header-5-font-style: normal;
    --sub-header-1-font-family: "Raleway", Helvetica;
    --sub-header-1-font-weight: 400;
    --sub-header-1-font-size: 24px;
    --sub-header-1-letter-spacing: 0px;
    --sub-header-1-line-height: 120.00000476837158%;
    --sub-header-1-font-style: normal;
    --sub-header-2-font-family: "Raleway", Helvetica;
    --sub-header-2-font-weight: 400;
    --sub-header-2-font-size: 20px;
    --sub-header-2-letter-spacing: 0px;
    --sub-header-2-line-height: 120.00000476837158%;
    --sub-header-2-font-style: normal;
    --sub-header-3-font-family: "Raleway", Helvetica;
    --sub-header-3-font-weight: 400;
    --sub-header-3-font-size: 17px;
    --sub-header-3-letter-spacing: 0px;
    --sub-header-3-line-height: 120.00000476837158%;
    --sub-header-3-font-style: normal;
    --body-font-family: "Raleway", Helvetica;
    --body-font-weight: 400;
    --body-font-size: 14px;
    --body-letter-spacing: 0px;
    --body-line-height: 120.00000476837158%;
    --body-font-style: normal;
    --caption-font-family: "Raleway", Helvetica;
    --caption-font-weight: 400;
    --caption-font-size: 12px;
    --caption-letter-spacing: 0px;
    --caption-line-height: 120.00000476837158%;
    --caption-font-style: normal;
  }
  